*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
    min-height: 100vh;
    background-color: rgb(58, 222, 214);
}
.card{
    position: relative;
    width: 400px;
    background-color: white;
}
.card.imgbox{
    position: relative;
    width: 100px;
    height:350px;
}
.card.imgbox img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card audio{
    width:100%;
    outline: none;
    border:10px;
}